.nav-item {
        width: 200px;
        margin: 5px;
        font-weight: bold;
        font-size: 1px;
    }

.navbar-nav .nav-link:hover {
        background-color: #26b01d; /* Updated hover background color */
        color: #fff !important; /* Text color on hover */
        box-shadow: 0 0 10px rgb(15, 145, 4); /* Subtle box-shadow effect on hover */
        border-radius: 5px;
    }

.user-info span {
        color: #fff;

    }

.user-info a {
    text-align: center;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 5px ;
}

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f4f4f4;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*!*nav {*!*/
/*!*    background-color: #4caf50;*!*/
/*!*    padding: 30px;*!*/
/*!*    text-align: center;*!*/
/*!*    position: relative;*!*/
/*!*}*!*/

/*!*nav a {*!*/
/*!*    color: white;*!*/
/*!*    text-decoration: none;*!*/
/*!*    padding: 10px;*!*/
/*!*    margin: 0 0px;*!*/
/*!*    font-size: 25px;*!*/
/*!*    display: inline-block;*!*/
/*!*    width: 10%;*!*/

/*!*}*!*/

/*!*nav a:hover {*!*/
/*!*    background-color: #45a049;*!*/
/*!*    color: white;*!*/
/*!*}*!*/

.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 300px;
    padding-right: 200px;
}

.square {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.square:hover {
    transform: scale(1.02);
}

.plus-sign {
    font-size: 192px;
    color: #45a049;
    cursor: pointer;
    margin-bottom: 15%;
}

.square a.plus-sign,
.square a.plus-sign:hover {
    text-decoration: none;
}

.content {
    padding: 20px;
}

/* Merged with existing styles */

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: #4f4e4e;
}

p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.add_new_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 400px; /* Adjust the maximum width as needed */
    background-color: #f8f9fa; /* Bootstrap-like background color */
    border: 1px solid #dee2e6; /* Bootstrap-like border */
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Subtle box shadow for a modern look */
}

.add_new_form label {
    margin-bottom: 8px;
}

.add_new_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da; /* Bootstrap-like border color */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}



.add_new_form button {
    width: 100%;
    background-color: #45a049; /* Bootstrap-like button color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.add_new_form button:hover {
    background-color: #4db451; /* Darker color on hover */
}

label {
    margin-bottom: 8px;
}

input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
}



button {
    width: auto;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-weight: 700;
    font-size: 23px;
}

.delete_button
{
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    line-height: 20px; /* Should be the same as the height */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    background: rgb(231, 73, 73);
    color: black; /* Example text color */
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

.fulfill_button
{
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    line-height: 20px; /* Should be the same as the height */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    background: rgb(70, 206, 80);
    color: black; /* Example text color */
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

.big_fulfill_button
{
    width: 200px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    text-align: center;
    line-height: 50px; /* Should be the same as the height */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    font-size: 22px;
    color: white; /* Example text color */
    border: none;
    cursor: pointer;
    background-color: #45a049;
}

button:hover {
    background-color: #45a049;
}

a {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #4caf50;
}

a:hover {
    color: #45a049;
}

.panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px; /* Adjust this value as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.panel button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0; /* Apply margin only to top and bottom */
    font-weight: 700;
    font-size: 23px;
}


.chartMenu {
        width: 100vw;
        height: auto;
        margin: auto;
        color: #4f4e4e;;
        margin-top: 100px;
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgb(11, 143, 0);
        background: white;
      }