{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Page Title{% endblock %}</title>
    <!-- Add your CSS links or stylesheets here -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">


    {% block extra_head %}{% endblock %}
</head>

<body>
    {% include 'main/navbar.html' %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>