{% extends 'main/base.html' %}

{% block content %}
    <h2>{{ subject.subject_name }}</h2>
    <!-- Display subject information here -->
    <h2>{{ course }} курс, {{ semester }} семестр</h2>
    <h2>Преподаватель: {{ subject.teacher_name }}</h2>
    <h2>Работы: {{ assignments_score }}</h2>
    {% if score %}
        <h2>Баллы: {{ score }}</h2>
    {% endif %}

    <div class="square-container">
    <!-- Display assignments in squares -->
    {% for assignment, link in assignments %}

        <div class="square">
            <form method="POST" action="{% url 'delete_object' model_name='Assignments' obj_id=assignment.id %}?next={{ request.path }}">
                {% csrf_token %}
                <input class="delete_button" type="submit" value="╳">
            </form>



            <h3><a href={{ link }}>{{ assignment.assignment_type }} {{ assignment.local_id }}</a></h3>
            {% if assignment.score %}
                <p>Баллы: {{ assignment.score }}</p>
            {% endif %}
            <h3>{{ assignment.status.name}}</h3>
            {% if assignment.status.name != "Сдано" %}
                <form method="POST" action="{% url 'fulfill_task' model_name='Assignments' obj_id=assignment.id %}?next={{ request.path }}">
                    {% csrf_token %}
                    <input class="fulfill_button" type="submit" value="V">
                </form>
                {% if assignment.due_date %}
                    <p>Крайний срок: {{ assignment.due_date }}</p>
                {% endif %}
            {% endif %}

            <!-- Add additional assignment information here -->
        </div>

    {% endfor %}
    <div class="square">
        <a href={% url 'add_assignment' %}><div class="plus-sign">+</div></a>
    </div>
    </div>
{% endblock %}
