{% extends 'main/base.html' %}

{% block content %}
    <div class="square-container">
        <!-- Replace the following with Django template tags to loop through database objects -->
        {% for event in events %}
            <div class="square">
                <form method="POST"
                      action="{% url 'delete_object' model_name='Events' obj_id=event.id %}?next={{ request.path }}">
                    {% csrf_token %}
                    <input class="delete_button" type="submit" value="╳">
                </form>
                <form method="POST"
                      action="{% url 'fulfill_task' model_name='Events' obj_id=event.id %}?next={{ request.path }}">
                    {% csrf_token %}
                    <input class="fulfill_button" type="submit" value="V">
                </form>
                <!-- Display object information here -->
                {% if event.name %}
                    {% if event.link %}
                        <h3><a href={{ event.link }} target="_blank">{{ event.name }}</a></h3>
                    {% else %}
                        <h3>{{ event.name }}</h3>
                    {% endif %}
                {% else %}
                    {% if event.link %}
                        <h3><a href={{ event.link }} target="_blank">{{ event.type }}</a></h3>
                    {% else %}
                        <h3>{{ event.type }}</h3>
                    {% endif %}
                {% endif %}

                {% if event.description %}
                    <h3>{{ event.description }}</h3>
                {% endif %}

                {% if event.prize %}
                    <h3>Приз: {{ event.prize }}</h3>
                {% endif %}

                {% if event.start %}
                    {% if event.start == 0 %}
                        <h3>Начало: <span style="color: red;">сегодня</span></h3>
                    {% elif event.start == 1 %}
                        <h3>Начало: <span style="color: red;">1 день</span></h3>
                    {% elif event.start < 4 %}
                        <h3>Начало: <span style="color: red;">{{ event.start }} дня</span></h3>
                    {% elif event.start < 7 %}
                        <h3>Начало: <span style="color: orange;">{{ event.start }} дней</span></h3>
                    {% else %}
                        <h3>Начало: <span style="color: limegreen;">{{ event.start }} дней</span></h3>
                    {% endif %}
                {% elif event.end %}
                    {% if event.end == 0 %}
                        <h3>Окончание: <span style="color: red;">сегодня</span></h3>
                    {% elif event.end == 1 %}
                        <h3>Окончание: <span style="color: red;">1 день</span></h3>
                    {% elif event.end < 4 %}
                        <h3>Окончание: <span style="color: red;">{{ event.end }} дня</span></h3>
                    {% elif event.end < 7 %}
                        <h3>Окончание: <span style="color: orange;">{{ event.end }} дней</span></h3>
                    {% else %}
                        <h3>Окончание: <span style="color: limegreen;">{{ event.end }} дней</span></h3>
                    {% endif %}
                {% else %}
                    <h3>Завершено</h3>
                {% endif %}


            </div>
        {% endfor %}
        <div class="square">
            <a class="text-decoration-none" href={% url 'add_event' %}>
                <div class="plus-sign">+</div>
            </a>
        </div>
        <!-- Add more squares as needed -->
    </div>
{% endblock %}

