{% extends 'main/base.html' %}

{% block content %}
    <div class="square-container">
        <!-- Replace the following with Django template tags to loop through database objects -->
        {% for object in objects %}
            <div class="square">
                <form method="POST"
                      action="{% url 'delete_object' model_name=object.obj_type obj_id=object.id %}?next={{ request.path }}">
                    {% csrf_token %}
                    <input class="delete_button" type="submit" value="╳">
                </form>
                <!-- Display object information here -->
                {% if object.obj_type == 'Subjects' %}
                    <h3><a href={{ object.subject_link }}>{{ object.subject_name }}</a></h3>
                    <h3><a href={{ object.assignment_link }}>{{ object.assignment_name }}</a></h3>
                    <form method="POST"
                          action="{% url 'fulfill_task' model_name='Assignments' obj_id=object.assignment_id %}?next={{ request.path }}">
                        {% csrf_token %}
                        <input class="fulfill_button" type="submit" value="V">
                    </form>
                    {% if object.deadline %}
                        <h3>Дедлайн: {{ object.deadline }} дней</h3>
                    {% endif %}
                    <h3>Работы: {{ object.assignments }}</h3>
                    {% if object.score %}
                        <h3>Баллы: {{ object.score }}</h3>
                    {% endif %}
                {% elif object.obj_type == 'Events' %}
                    <form method="POST"
                          action="{% url 'fulfill_task' model_name='Events' obj_id=object.id %}?next={{ request.path }}">
                        {% csrf_token %}
                        <input class="fulfill_button" type="submit" value="V">
                    </form>
                    {% if object.name %}
                        {% if object.link %}
                            <h3><a href={{ object.link }} target="_blank">{{ object.name }}</a></h3>
                        {% else %}
                            <h3>{{ object.name }}</h3>
                        {% endif %}
                    {% else %}
                        {% if object.link %}
                            <h3><a href={{ object.link }} target="_blank">{{ object.type }}</a></h3>
                        {% else %}
                            <h3>{{ object.type }}</h3>
                        {% endif %}
                    {% endif %}

                    {% if object.description %}
                        <h3>{{ object.description }}</h3>
                    {% endif %}

                    {% if object.prize %}
                        <h3>Приз: {{ object.prize }}</h3>
                    {% endif %}

                    {% if object.start %}
                        <h3>Начало: {{ object.start }} дней</h3>
                    {% elif object.end %}
                        <h3>Окончание: {{ object.end }} дней</h3>
                    {% else %}
                        <h3>Завершено</h3>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

        <div class="square">
            <div id="clickableObject" class="plus-sign">+</div>
        </div>

        <div id="panel" class="panel">
            <button class="add_button" id="button1">Задание</button>
            <button class="add_button" id="button2">Мероприятие</button>
        </div>

        <script>
            document.getElementById('clickableObject').addEventListener('click', function () {
                document.getElementById('panel').style.display = 'block';
            });

            document.getElementById('button1').addEventListener('click', function () {
                window.location.href = {% url 'add_assignment' %};
            });

            document.getElementById('button2').addEventListener('click', function () {
                window.location.href = {% url 'add_event' %};
            });
            // Close the panel when clicking outside of it
            document.addEventListener('click', function (event) {
                var panel = document.getElementById('panel');
                var clickableObject = document.getElementById('clickableObject');

                // Check if the click target is a descendant of the panel
                if (!panel.contains(event.target) && event.target !== clickableObject) {
                    panel.style.display = 'none';
                }
            });
        </script>
        <!-- Add more squares as needed -->
    </div>

    <div class="chartMenu">
        <h2>Доля выполненных заданий</h2>
    </div>
    <div class="chartCard">
        <div class="chartBox">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
        // setup
        const data = {
            labels:  {{ subjs|safe }},
            datasets: [{
                label: 'Доля выполненных заданий',
                data: {{ float_scores|safe }},
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        };

        // config
        const config = {
            type: 'bar',
            data,
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        suggestedMax: 1,
                        beginAtZero: true
                    }
                }
            }
        };

        // render init block
        const myChart = new Chart(
            document.getElementById('myChart1'),
            config
        );
    </script>


    <div class="chartMenu">
        <h2>Активность сдачи работ за 30 дней</h2>
    </div>
    <div class="chartCard">
        <div class="chartBox">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
        // setup
        const data2 = {
            labels:  {{ dates|safe }},
            datasets: [{
                label: 'Сдано работ',
                data: {{ counts|safe }},
                borderWidth: 1
            }]
        };

        // config
        const config2 = {
            type: 'line',
            data: data2,
            options: {
                scales: {
                    y: {
                        suggestedMax: 4,
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) {
                                if (value % 1 === 0) {
                                    return value;
                                }
                            }
                        }
                    }
                }
            }
        };

        // render init block
        const myChart1 = new Chart(
            document.getElementById('myChart2'),
            config2
        );

    </script>

    <button id="downloadPdfBtn" style="display: block; margin-left: 37%; margin-top: 30px;">Download PDF Report</button>

    <script>
        // Add a JavaScript function to handle button click
        document.getElementById('downloadPdfBtn').addEventListener('click', function() {
            // Send a request to the Django view to generate and download the PDF report
            window.location.href = {% url 'pdf_report' %};
        });
    </script>
{% endblock %}
