{% load static %}

<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Unihelper</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit">Войти</button>
            <p>Ещё нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь!</a></p>
        </form>
    </div>
</body>
</html>
