{% load static %}
<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit">Signup</button>
            <p>Already have an account? <a href="{% url 'login' %}">Log in.</a><p>
        </form>
    </div>
</body>
</html>
